<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.philcode.equals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".EMP.EMP_EditLoginCredentials_Activity"
            android:exported="false" />
        <activity android:name=".PWD.PWD_EditProfile_ViewActivity"
            />
        <activity
            android:name=".PWD.PWD_AddWorkExperience"
            android:exported="false"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".PWD.PWD_ViewResume_Activity"
            android:exported="false" />
        <activity
            android:name=".EMP.EMP_ViewResumePDF_Activity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PWD.PWD_AvailableJobs_1_All"
            android:label="Available Jobs" />
        <activity
            android:name=".PWD.PWD_AvailableJobs_2_OrthopedicDisability"
            android:label="Orthopedic Disability Jobs" />
        <activity
            android:name=".PWD.PWD_AvailableJobs_4_HearingDisability"
            android:label="@string/hearing_disability" />
        <activity
            android:name=".PWD.PWD_AvailableJobs_3_VisualDisability"
            android:label="@string/visual_disability" />
        <activity
            android:name=".PWD.PWD_AvailableJobs_5_MoreDisability"
            android:label="Other Disability" />
        <activity android:name=".PWD.PWD_RegisterActivity" />
        <activity android:name=".PWD.PWD_LoginActivity" />
        <activity android:name=".PWD.a_PWDContentMainActivity" />
        <activity android:name=".PWD.PWD_ForgotpassActivity" />
        <activity android:name=".PWD.PWD_EditProfile" />
        <activity android:name=".PWD.PWD_EditProfile2" />
        <activity android:name=".PWD.PWD_EditProfile3" />
        <activity android:name=".EMP.a_EmployeeContentMainActivity" />
        <activity android:name=".PrivacyPolicyPDFViewer" />
        <activity android:name=".EMP.EMP_ManageJobs" />
        <activity android:name=".EMP.EMP_ViewResume" />
        <activity android:name=".EMP.Emp_PostJob" />
        <activity android:name=".EMP.EMP_AvailableJobs_View" />
        <activity android:name=".EMP.ForgotpassActivity_emp" />
        <activity android:name=".EMP.LoginActivity_emp" />
        <activity android:name=".EMP.RegisterActivity_emp" />
        <activity android:name=".EMP.EMP_EditProfile_Activity" />
        <activity android:name=".SelectionScreenActivity" />
        <activity android:name=".PWD.PWD_AvailableJobs_View" />
        <activity android:name=".LoadingActivityPWD" />
        <activity android:name=".LoadingActivityEMP" />
        <activity android:name=".EMP.EMP_FillUpInformation_ProfilePicture" />
        <activity android:name=".EMP.EMP_Profile" />
        <activity
            android:name=".Home_View"
            android:parentActivityName=".PWD.a_PWDContentMainActivity" />
        <activity android:name=".PWD.PWD_RegisterActivity3" />
        <activity android:name=".PWD.PWD_RegisterActivity2" />
        <activity
            android:name=".EMP.EMP_ViewPotential_All"
            android:label="Potential Applicants" />
        <activity android:name=".EMP.EMP_ViewPotential_View" />
        <activity android:name=".EMP.EMP_ChangeProfile_Activity" />
        <activity android:name=".EMP.EMP_ChangeLogo" />
    </application>

</manifest>